/* gradient */
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

/* absolute center */
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* smooth transition */
@mixin transitionProperty($sec: 0.5s) {
  transition-duration: $sec;
  transition-property: all;
}
